body { 
    background: #65204f; 
}

ul#nav li.current a { 
    color: #da60b3; 
}

header .social li a:hover { color: #da60b3; }
header .scrolldown a:hover { color: #da60b3; }

#perfil {
    background: #da60b3;
}
#perfil p { color: white; }
#perfil a:hover, #perfil a:focus { color: #d1d1d1; }

#curriculo a, #curriculo a:visited  { color: #da60b3; }

#curriculo h1 span {
   border-bottom: 3px solid #da60b3;
   padding-bottom: 6px;
}

.popup-modal a:hover {	color: #da60b3; }

#contato {
    background: #832665;
    color: white;
}
#contato a, #contato a:visited  { color: #d1d1d1; }

#contato input:focus,
#contato textarea:focus,
#contato select:focus {
	color: #fff;
	background-color: #ca3099;
}

#contato span.required {
	color: #d1d1d1;
}

#message-warning { color: #D72828; }
#message-success { color: #da60b3; }

footer {
    color: white;
}

footer a, footer a:visited { color: #d1d1d1; }

footer .copyright li:before {
    color: white;
}

#go-top a:hover { background-color: #da60b3; }